*{
    margin: 0;
    padding: 0;
}

a{
    color: chocolate;
}

body{
    background-color: rgb(235, 235, 233);
    font-size: 1em; /*equivale a 16px*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.blog-header{
    background-color: rgb(246, 194, 51);   
}

.logo{
    padding: 30px;
    font-size: 1.5em;
}

.texto1{
    position: absolute;
    left: 45%;
    margin: 0px auto;
    color: rgb(86, 100, 100);
    
}

.branco{
    color: rgb(244, 233, 219);
 }

nav{
    padding: 30px;
}

.blog-nav ul{
    font-size: 1.1em;
    width: fit-content;
    display: flex;
    position: relative;
    left: 35%;
    list-style: none;
    gap: 30px;
    margin-top: 10px;

}

a{
    text-decoration: none;
    font-weight: bold;
}

.blog-nav a:link, .blog-nav a:visited{
    color: rgb(244, 233, 219);
} 

.blog-nav a:hover{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: rgb(244, 233, 219);
    color: rgb(246, 194, 51);
    
}
/* Fim Header */

main{
    width: 1000px ;
    margin: 20px auto;
}

/*Section*/
section{ 
    width: 660px;
    padding: 20px;
    background-color:rgb(255, 249, 249);
    float: left;
}

article img{
    display: block;
    margin: 15px auto;

}

article h2{
    margin-top: 10px;
    color:rgb(246, 194, 51);
}

/*Fim Section*/

/* Aside */
.bloco h2{
    width: fit-content;
    font-size: 1.2em;
    padding: 2px 10px;
    background-color: rgb(208, 203, 203);
    color: rgb(101, 100, 100);
    margin-bottom: 10px;
}

.bloco ul{
    list-style: none;
}

.bloco{
    background-color: rgb(255, 249, 249);
    padding: 20px;
    margin-bottom: 20px;
}

aside{
    width: 240px;
    float:right;
  
}
/* Fim Aside */

footer{ 
    clear: both;
    position: relative;
    padding: 20px;
    background-color: rgb(154, 155, 156);
    text-align: center;
}